.relative > .react-tel-input > input {
  outline-color: white;
}


@media (max-width: 600px) {
  .ellie-header {
    margin-left: -50%;
  }
  .signup {
    max-width: 90%;
  }
}

@media (max-width: 430px) {
  .signup {
    max-width: 50%;
  }
  .ellie-header {
    margin-left: -50%;
  }
}

@media (max-width: 315px) {
  .signup {
    max-width: 40%;
  }
  .ellie-header {
    margin-left: -50%;
  }
}